body, html {
  background: #000000;
  height: 100%;
  margin: 0;
  font-family: 'EB Garamond', Garamond, serif;
  overflow-x: hidden;
  overflow-y: hidden;
  letter-spacing: 0.5px;
}

h2 {
  color: #613138;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 8px;
  margin-top: 4px;
}

.section {
  position: relative;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #121212;
  overflow: hidden;
  opacity: 1;
  transition: opacity 1.5s ease-in-out;
}

section.dissolve {
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-title { background-image: url('../images/bg-pg-1.jpg'); }
.section-pillars { background: #EFE8DE; }
.section-intro {
  background-image: url('../images/bg-intro-0.jpg');
}
.section-intro-1 {
  background-image: url('../images/bg-intro-1.jpg');
  opacity: 1;
  transition: opacity 1.5s ease-in-out;
}
.section-intro-2 {
  background-image: url('../images/bg-intro-2.jpg');
  opacity: 1;
  transition: opacity 1.5s ease-in-out;
}
.section-intro-3 {
  background-image: url('../images/bg-intro-3.jpg');
}
.section-intro-4-1 {
  background-image: url('../images/bg-intro-41.jpg');
}
.section-intro-4-2 {
  background-image: url('../images/bg-intro-42.jpg');
}
.section-intro-5 {
  background-image: url('../images/bg-intro-5.jpg');
}

.section-content {
  position: relative;
  z-index: 2;
  display: flex;
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.65);
}

.overlay.off {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

/* Section Title */
.row {
  width: 100%;
  flex: 1 1 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  position: relative;
  overflow: hidden;
  min-height: 0;
}

.row-bg-light {
    background: #FFF6E9;
}

.section-title .section-content {
    flex-direction: column;
}

.section-title .section-content .row-bg-light:last-child {
  padding-top: 24px;
}

.row-bg-overlay {
  background: transparent;
  min-height: 459px;
}

.row-overlay {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(23,34,47,0.7);
}

.row-content {
  position: relative;
  z-index: 2;
}

.row-img-map {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  min-height: 459px;
  width: 100%;
  height: auto;
  position: relative;
  z-index: 2;
}

.row-img-centered {
  display: block;
  margin: 0 auto;
  max-width: 400px;
  width: 100%;
  height: auto;
}

.women-overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    z-index: 3;
    display: flex;
    justify-content: space-between;
}

.women-img {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 1.2s ease-in-out, transform 1.2s cubic-bezier(0.77,0,0.175,1);
  bottom: 0;
  height: auto;
  max-width: 40%;
  position: relative;
  bottom: -10px;
  width: auto;
}

.section-title.slide-up .women-img {
  opacity: 1;
  transform: translateY(0);
}

.section-title.slide-up .women-left {
  transition-delay: 0.5s;
}

.section-title.slide-up .women-right {
  transition-delay: 1s;
}

.section-full-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(23,34,47,0.98);
  z-index: 999;
  transition: transform 0.8s cubic-bezier(0.77,0,0.175,1), opacity 0.6s;
  will-change: transform, opacity;
}

.section-full-overlay.slide-up {
  transform: translateY(-100vh);
  opacity: 0;
  pointer-events: none;
}

.section-overlay-text {
  position: relative;
  z-index: 5;
  font-size: 24px;
  color: #DFA94E;
  max-width: 700px;
  margin: 0 auto;
  padding: 0 16px;
  font-weight: 400;
  text-align: center;
}

.arrow-circle {
  position: absolute;
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 32px;
  animation: bounce 2s infinite;
  cursor: pointer;
}

.arrow-circle svg {
  opacity: 0.8;
  transition: opacity 0.2s;
}

.arrow-circle:hover svg {
  opacity: 0.3;
}

.hidden {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

/* Section Pillars */
.section-pillars .section-content  {
    flex-direction: row;
}

.column {
  display: flex;
  padding: 24px;
  box-sizing: border-box;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.column-left {
  margin-right: 50px;
  width: 60%;
}

.column-left img {
  display: block;
  margin: 0 auto;   
  max-width: 500px;
  height: auto;
}

.column-footnote {
  background: #DCC8BE;
  border-radius: 8px;
  margin: 36px auto;
  max-width: 670px;
  padding: 32px;
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.8s cubic-bezier(0.77,0,0.175,1), transform 0.8s cubic-bezier(0.77,0,0.175,1);
}

.column-footnote.visible {
  opacity: 1;
  transform: translateY(0);
}

.column-right {
  background: rgba(191, 153, 141, 0.15);
  width: 40%;
  justify-content: flex-start;
  align-items: flex-start;
}

.column-content {
    margin-left: 100px;
}

.sub-bold {
    color: #613138;
    font-weight: 700;
}

.pillar-profile img {
    border-radius: 8px;
    max-width: 110px
}

.pillar-profile img:hover {
  filter: grayscale(100%) drop-shadow(0 8px 4px rgba(23,34,47,0.3));
  transition: filter 0.3s;
}

.pillar-profile p {
    color: #613138;
    margin: 0;
    padding: 2px;
}

.profile-name {
    font-size: 16px;
    font-weight: 700;
}

.profile-location {
  display: flex;
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  align-items: center;
  color: #613138;
}

.pillar-content {
  display: flex;
  gap: 20px;
  position: relative;
  width: 100%;
  padding-bottom: 56px;
}

.pillar-content .pillar-profile-caption {
  border-top: 1px solid #613138;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  left: 0;
  right: 0;
  position: absolute;
  box-sizing: border-box;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.3s;
}

.pillar-profile-right .caption-wrapper {
    margin-left: auto;
    display: table;
}

.pillar-profile:hover ~ .pillar-profile-caption,
.pillar-profile img:hover ~ .pillar-profile-caption {
  opacity: 1;
}

.pillars-slide {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 0.8s cubic-bezier(0.77,0,0.175,1), transform 1s cubic-bezier(0.77,0,0.175,1);
}

.pillars-slide.slide-in {
  opacity: 1;
  transform: translateX(0);
}

/* Section Intro */
.title-box {
  background: rgba(238, 231, 221, 0.7);
  border-radius: 10px;
  padding: 32px 24px;
  box-sizing: border-box;
  max-width: 760px;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 1.5s cubic-bezier(0.77,0,0.175,1), transform 2s cubic-bezier(0.77,0,0.175,1);
  width: 100%;
}

.title-box h2 {
  font-size: 48px;
  margin: 0;
}

.section-intro .section-content {
  align-items: center;
}

.section-intro .title-box {
  box-shadow: 0 8px 4px rgba(23,34,47,0.3);
  text-align: center;
}

.section-intro .title-box h2 {
  position: relative;
  display: inline-block;
}

.section-intro .title-box h2::before {
  content: "";
  position: absolute;
  height: 1px;
  background: #613138 ;
  z-index: 5;
  width: 50px;
  left: 0;
  bottom: 0;
}

/* Text box styles */
.text-box {
  opacity: 0;
  color: #EFE8DE;
  font-weight: 400;
  font-size: 24px;
  width: 100%;
  position: relative;
}

.visible .text-box.hidden {
  opacity: 0;
  z-index: 0;
}

.visible .text-box,
.visible .text-box.slide-up,
.visible .text-box.fade-in {
  opacity: 1;
  z-index: 10;
}

.text-box p {
  margin: 0;
}

.wide {
  max-width: 800px;
}

.box-light {
  background: rgba(239, 232, 222, 0.7);
  border-radius: 10px;
  padding: 32px;
  box-sizing: border-box;
  width: 100%;
  color: #121212;
}

.box-dark {
  background: rgba(23, 34, 47, 0.8);
  border-radius: 10px;
  padding: 32px;
  box-sizing: border-box;
  width: 100%;
  color: #EFE8DE;
}

/* Text box position */

.sc-center {
    display: block;
    position: absolute
}

.sc-top-left {
    position: absolute;
    top: 108px;
    left: 80px;
}

.sc-top-right {
    position: absolute;
    top: 108px;
    right: 80px;
}

.sc-bottom-left {
    position: absolute;
    bottom: 108px;
    left: 80px;
}

.sc-bottom-right {
    position: absolute;
    bottom: 108px;
    right: 80px;
}

/* Sponsor Logo */
.sponsor-logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.sponsor-logo {
  max-width: 180px;
  height: auto;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.sponsor-logo img {
  max-width: 100%;
  filter: invert(100%) brightness(1000%);
  height: auto;
}

.sponsor-logo:hover {
  background-color: #fff;
  border-radius: 4px;
  transition: background-color 0.3s ease, filter 0.3s ease;
}

.sponsor-logo:hover img {
  filter: none
}


/* Animation */
.slide {
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.2s cubic-bezier(0.77,0,0.175,1), transform 0.5s cubic-bezier(.17,.67,.83,.67)
}

.slide-up {
  opacity: 1;
  transform: translateY(0);
}

.fade {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(10px);
  }
  40% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(6px);
  }
  80% {
    transform: translateY(0);
  }
}

