@media screen and (orientation: landscape) and (max-width: 980px) {
  body::before {
    content: "Please rotate your device to portrait mode to view the Harapan Baru storybook and enjoy the full experience.";
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000000;
    color: white;
    font-size: 20px;
    padding: 24px;
    z-index: 9999;
  }
}


body, html {
  height: 100vh;
  margin: 0;
  font-family: 'EB Garamond', Garamond, serif;
  overflow: hidden;
  letter-spacing: 0.5px;
}

h2,
h3 {
  color: #613138;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 8px;
  margin-top: 4px;
}

.section {
  position: relative;
  min-height: 100vh;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #121212;
  overflow: hidden;
  opacity: 1;
  transition: opacity 1.5s ease-in-out;
}

.narrow .section-content {
  max-width: calc(100% - (150px * 2));
}

div[data-hidden="true"] {
  display: none;
}

@media (max-width: 768px) {
  .narrow .section-content {
    max-width: 100%;
  }
}

/* Main Navigation */
nav.main-navigation {
  position: fixed;
  top: 74px;
  right: 13px;
  z-index: 5;
}

nav.main-navigation ul,
nav.main-navigation li {
  margin: 0;
  padding: 0;
}

nav.main-navigation li {
  list-style: none;
  padding-left: 0;
  position: relative;
}

nav.main-navigation span {
  border-radius: 8px;
  display: flex;
  padding: 2px;
  margin-bottom: 16px;
  max-width: 40px;
  min-height: 40px;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 4px rgba(23,34,47,0.5);
  cursor: pointer;
}

nav.main-navigation .sub-links {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 4px rgba(23,34,47,0.3);
  display: flex;
  border-radius: 8px;
  padding: 8px;
  position: absolute;
  right: 24px;
  bottom: -60px;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.back-to-home a {
  background: #009CDB;
  display: flex !important;
  border-radius: 100%;
  height: 40px;
  align-items: center;
  justify-content: center;
  width: 40px;
  padding: 3px;
  box-shadow: 0 4px 4px rgba(23,34,47,0.3);
}

nav.main-navigation .tooltip {
  box-shadow: none !important;
  color: #15375F;
  font-size: 12px;
  // font-family: 'Arial', sans-serif;
  margin-bottom: 0;
  min-height: auto;
}

nav.main-navigation .sub-links li {
  padding: 0 8px;
}

nav.main-navigation .sub-links a {
  display: flex;
  min-height: 38px;
  align-items: center;
  justify-content: center;
}

nav.main-navigation span.flag {
  border-radius: 100%;
  box-shadow: none;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
  margin-bottom: 0;
  right: -5px;
  z-index: 2;
}

nav.main-navigation span.flag.active,
nav.main-navigation span.flag:hover {
  opacity: 1;
  z-index: 3;
}

nav.main-navigation .close-book {
  background: #ffffff;
}

nav.main-navigation .main-links {
  background: #009CDB;
  position: relative;
  z-index: 2;
}

nav.main-navigation .story-chapters {
  opacity: 1;
  border-radius: 100%;
  margin-top: 4px;
  display: flex;
  flex-direction: column;
  box-shadow: none;
  min-height: 44px;
  margin-bottom: 0;
  gap: 8px;
  transition: opacity 0.3s ease-in-out;
}

nav.main-navigation .story-chapters.hidden {
  opacity: 0;
}

.chapter-link {
  height: 44px;
  width: 44px;
  padding: 0 4px;
  position: absolute;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 1;
}

.chapter-link:first-child {
  opacity: 0.5;
  z-index: 2;
}

.chapter-image img {
  width: 120%;
  position: relative;
  top: 8px;
}

.active .chapter-link {
  opacity: 0.5;
  position: relative;
}

.chapter-link:hover,
.active .chapter-link:hover {
  opacity: 1;
}

.chapter-text,
.active .chapter-title {
  display: none;
}

.active .chapter-text {
  display: block;
}

.tooltip-wrapper p {
  font-size: 14px;
  margin: 0;
  text-align: right;
}

.tooltip-wrapper p.chapter-text {
  text-align: left;
}

.tooltip-wrapper:before {
  content: '';
  position: absolute;
  bottom: 0;
  right: -6px;
  height: 1px;
  background: #fff;
  width: 0;
  transition: width 0.3s ease-in-out;
}

nav.main-navigation .tooltip-wrapper {
  border-radius: 4px;
  display: block;
  padding: 4px 10px;
  margin-bottom: 0;
  max-width: none;
  min-height: auto;
  box-shadow: none;
  position: absolute;
  color: #ffffff;
  width: 55px;
  background: rgba(23,34,47,0.7);
  right: 53px;
  top: 10px;
  opacity: 0;
}

nav.main-navigation .chapter-link:hover .tooltip-wrapper:before {
  width: 82px;
}

nav.main-navigation .chapter-link:hover .tooltip-wrapper {
  opacity: 1;
}

nav.main-navigation .chapter-image {
  padding: 0;
  width: 44px;
  height: 40px;
  overflow: hidden;
  background: #ffffff;
  border: 2px solid #FFFFFF;
  border-radius: 100% !important;
}


@media (max-width: 768px) {
  nav.main-navigation .story-chapters.active {
    max-width: 113px;
    flex-wrap: wrap;
    width: 200px;
    right: -5px;
    position: absolute;
    display: flex;
    flex-direction: row;
  }

  .chapter-link:first-child,
  .active .chapter-link {
    opacity: 1;
  }

  nav.main-navigation .chapter-link:hover .tooltip-wrapper {
    opacity: 0;
  }

  .active .chapter-text,
  .active .chapter-title {
    display: none;
  }
}

/* Sound */
#sound-control {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  min-width: 32px;
}

#sound-control .sound {
  position: absolute;
  left: 10px;
  height: 32px;
  width: 32px;
}

#sound-control .sound img,
#sound-control.active .sound-off img,
#sound-control.active .off,
#sound-control .on {
  display: none;
}

#sound-control.active .sound-on img,
#sound-control .sound-off img,
#sound-control.active .on,
#sound-control .off  {
  display: block;
}

#sound-control .tooltip {
  align-self: flex-end;
}

#sound-control span {
  margin: 0;
  box-shadow: none;
  padding: 0;
  min-height: auto;
}

/* Zoom effect for visible fixed-bg sections */
.section.visible .zoom {
  transform: scale(1.08);
  opacity: 1;
  transition: transform 1.5s ease-in, filter 1s cubic-bezier(0.77,0,0.175,1);
}

.section-content {
  position: relative;
  z-index: 2;
  display: flex;
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.last .section-content {
  z-index: 4;
}

.section-home {
  background-size: cover;
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.parallax,
.section-bg {
    opacity: 0;
    transition: opacity 1s cubic-bezier(0.77,0,0.175,1);
}

.bg-loaded {
    opacity: 1;
    transition: opacity 1s cubic-bezier(0.77,0,0.175,1);
    will-change: opacity;
}

.section-women { background: #EFE8DE; }

@media (max-width: 768px) {
  .parallax.mobile-centered {
    background-position: 65%;
  }
}

/* .section-bg background-image is now lazy loaded via data-bg attribute and JS */

/* Profile section */
.section-quote {
  background: #FFFFFF;
}

/* Overlay */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.65);
  z-index: 2;
}

.gradient-overlay::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  z-index: 2;
}

.overlay-darker {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.75);
  z-index: 3;
  transition: background 1s ease-in-out;
}

.footnote.right {
  text-align: right;
}

.hide {
  display: none;
}

/* Section Home */
.row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  position: relative;
  overflow: hidden;
  min-height: 0;
}

.row-bg-light {
    background: #FFF6E9;
    min-height: 140px;
}

.section-home .section-content {
    flex-direction: column;
    justify-content: flex-start;
}

.section-home .section-content .row-bg-light:last-child {
  padding-top: 16px;
  min-height: 25%;
}

.section-home .section-content .row-bg-light:last-child img {
  padding: 0;
}

.row-bg-overlay {
  background: transparent;
  min-height: 470px;
}

.row-overlay {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(23,34,47,0.7);
}

.row-content {
  position: relative;
  z-index: 2;
  align-self: flex-end;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  z-index: 2;
}

.row-img-map {
  display: block;
  margin: 0 auto;
  max-width: 500px;
  min-height: 385px;
  width: 100%;
  height: auto;
  position: relative;
  z-index: 2;
  align-self: center;
}

main[data-fs="true"] .row-img-map{
  max-width: 600px;
}

.row-img-centered {
    display: block;
    max-width: 300px;
    width: 100%;
    height: auto;
    padding: 16px;
}

.women-overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    z-index: 3;
    display: flex;
    justify-content: space-between;
}

.women-img {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 1.2s ease-in-out, transform 1.2s cubic-bezier(0.77,0,0.175,1);
  bottom: 0;
  display: flex;
  height: auto;
  max-width: 100%;
  position: absolute;
  bottom: -10px;
  width: auto;
}

.women-img img {
  width: 100%;
}

.section-home.slide-up .women-img {
  opacity: 1;
  transform: translateY(0);
}

.section-home.slide-up .women-left {
  left: 0;
  transition-delay: 0.5s;
  justify-content: flex-start;
}

.section-home.slide-up .women-right {
  right: 0;
  transition-delay: 1s;
  justify-content: flex-end;
}

.section-full-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(23, 33, 45, 0.98);
  z-index: 999;
  transition: transform 0.8s cubic-bezier(0.77,0,0.175,1), opacity 0.6s;
  will-change: transform, opacity;
}

.section-full-overlay.slide-up {
  transform: translateY(-100vh);
  opacity: 0;
  pointer-events: none;
}

.section-overlay-text {
  position: relative;
  z-index: 5;
  font-size: 24px;
  color: #DFA94E;
  max-width: 700px;
  margin: 0 auto;
  padding: 0 16px;
  font-weight: 400;
  text-align: center;
}

.arrow-circle {
  position: absolute;
  bottom: 32px;
  left: calc(50% - 32px);
  transform: translateX(-50%);
  font-size: 32px;
  animation: bounce 2s infinite;
  cursor: pointer;
}

.arrow-circle svg {
  opacity: 0.8;
  transition: opacity 0.2s;
}

.arrow-circle:hover svg {
  opacity: 0.3;
}

.hidden {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

@media (min-width: 1024px) and (max-width: 1440px) {
  .section-home .section-content .row-bg-light:last-child {
    min-height: 23%;
  }

  .row-img-map {
    max-width: 430px;
  }

  .row-img-centered {
    max-width: 260px;
  }

  .women-img img {
    width: 70%
  }
}

@media (max-width: 768px) {
  .section-overlay-text {
    font-size: 18px;
    margin-top: -32px;
  }

  .section-home .section-content .row-bg-light:last-child {
    height: 32%;
  }

  .section-intro .title-box h2 {
    font-size: 36px;
  }

  .women-img img {
    width: 56%
  }

  .row-img-centered {
    max-width: 250px;
  }
}

/* Section Pillars */
.section-pillars .pillars-content {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  font-size: 24px;
  max-width: 700px;
}

.visible.section-pillars .pillars-content {
  opacity: 1;
}

.section-pillars .pillars-content p,
.section-pillars .pillars-content li {
    color: #121212;
}

.section-pillars .section-content  {
    flex-direction: row;
}

.column {
  display: flex;
  padding: 24px;
  box-sizing: border-box;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.column-left {
  margin-right: 50px;
  padding: 0;
  width: 60%;
}

.column-image {
  margin: 16px auto;
  max-width: 600px;
}

.column-left img {
    display: block;
    margin: 0 auto;
    height: auto;
    width: 100%;
}

.column-footnote {
  background: #DCC8BE;
  border-radius: 8px;
  margin: 24px auto;
  max-width: 670px;
  padding: 32px;
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.8s cubic-bezier(0.77,0,0.175,1), transform 0.8s cubic-bezier(0.77,0,0.175,1);
}

.column-footnote.visible {
  opacity: 1;
  transform: translateY(0);
}

.column-right {
  background: rgba(191, 153, 141, 0.15);
  width: 40%;
  justify-content: flex-start;
  align-items: flex-start;
}

.column-content {
    margin-left: 70px;
}

.harapan-baru-sub {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.harapan-baru-sub h1 {
    color: #f74626;
    font-size: 24px;
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 1.1;
    font-weight: 400;
    letter-spacing: 1;
    width: 100%;
}

.sub-bold {
    color: #121212;
    font-weight: 700;
}

.pillar-profile img {
    border-radius: 8px;
    max-width: 70px
}

.pillar-profile p {
    color: #613138;
    margin: 0;
    padding: 2px;
}

.pillar-profile-link {
  // display: block;
  display: flex;
  text-decoration: none;
  align-items: flex-start;
}

.pillar-profile-link:hover img {
  filter: grayscale(100%) drop-shadow(0 8px 4px rgba(23,34,47,0.3));
  transition: filter 0.3s;
}

.profile-name {
  font-size: 14px;
  font-weight: 700;
}

.profile-location {
  display: flex;
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  align-items: center;
  color: #613138;
}

.pillar-content {
  display: flex;
  gap: 30px;
  position: relative;
  align-items: flex-start;
  width: 320px;
  padding-bottom: 20px;
}

.pillar-content .pillar-profile-caption {
  // border-top: 1px solid #613138;
  width: 100%;
  margin-right: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  opacity: 1;
  position: relative;
  bottom: auto;
  align-items: flex-start;
  margin-left: 4px
}

.pillar-profile {
  display: block
}

.pillar-profile-right .caption-wrapper {
  margin-left: auto;
  display: table;
}

.pillar-profile:hover ~ .pillar-profile-caption,
.pillar-profile img:hover ~ .pillar-profile-caption {
  opacity: 1;
}

.pillars-slide {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 0.8s cubic-bezier(0.77,0,0.175,1), transform 1s cubic-bezier(0.77,0,0.175,1);
}

.pillars-slide.slide-in {
  opacity: 1;
  transform: translateX(0);
}

.pillars-slide h2 {
  font-size: 28px;
  padding-bottom: 8px;
}

.pillars-slide h2::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background: #613138;
  margin-top: 8px;
  transition: width 1s ease-in-out;
}

.pillars-slide.slide-in h2::after {
  transition-delay: 0.8s;
  width: 50px;
}

.pillars-slide h3 {
  font-size: 24px;
  margin-bottom: 16px;
}

.pillar-profile {
  width: 100%;
}

.pillar-video-link {
  margin-top: 16px;
  position: relative;
}

.pillar-video-link a {
  color: #613138;
  display: block;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  padding: 16px;
  background: rgba(191, 153, 141, 0.85);
  border-radius: 8px;
}

.pillar-video-link a:hover {
  background: rgba(191, 153, 141, 0.5);
  transition: background 0.3s ease-in-out;
}

.pillar-video-link:before {
  content: '';
  position: absolute;
  top: 25%;
  left: 12px;
  height: 50%;
  background: #613138 ;
  width: 5px;
}

.pillar-video-link p {
  margin: 0 0 0 8px;
  padding: 0;
}

.pillar-profile-link {
  display: flex;
  text-decoration: none;
  align-items: flex-start;
}

.pillar-profile-link .pillar-profile-caption:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 1px;
  background: #613138 ;
  width: 0;
  transition: width 0.3s ease-in-out;
}

.pillar-profile-link:hover .pillar-profile-caption:before {
  width: 100%;
}

@media (min-width: 1024px) and (max-width: 1440px) {
  .pillars-slide h3 {
    font-size: 20px;
    margin-top: 0;
  }
  
  .pillars-slide h2 {
    font-size: 24px;
    padding-bottom: 8px;
  }

  .pillar-profile img {
    max-width: 60px;
  }

  .profile-name {
    font-size: 14px;
  }

  .profile-location {
    font-size: 12px;
  }

  .pillar-profile p {
    padding-top: 4px;
  }

  .profile-location img {
    max-width: 14px;
  }
}

@media (max-width: 1024px) {
  .pillar-content .pillar-profile-caption {
    border-top: 1px solid #613138;
  }

  .column-content {
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  .column-left {
    margin-right: 0;
    padding: 0;
    width: 100%;
    position: absolute;
  }

  .column-right {
    background: rgba(239, 232, 222, 0.85);
    width: 100%;
    display: flex;
    align-items: center;
  }
}

/* Section Intro */
.title-box {
  background: rgba(238, 231, 221, 0.7);
  border-radius: 10px;
  padding: 32px 24px;
  box-sizing: border-box;
  max-width: 760px;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 1.5s cubic-bezier(0.77,0,0.175,1), transform 2s cubic-bezier(0.77,0,0.175,1);
  width: 100%;
}

.title-box h2 {
  font-size: 48px;
  margin: 0;
}

.section-intro .section-content {
  align-items: center;
}

.section-intro .title-box {
  box-shadow: 0 8px 4px rgba(23,34,47,0.3);
  text-align: center;
}

.section-intro .title-box h2 {
  position: relative;
  display: inline-block;
}

.section-intro .title-box h2::before {
  content: "";
  position: absolute;
  height: 1px;
  background: #613138 ;
  z-index: 5;
  width: 0;
  left: 0;
  bottom: 0;
  transition: width 0.5s ease-in-out;
}

.visible.section-intro .title-box h2::before {
  transition-delay: 0.5s;
  width: 50px;
}

/* Text box styles */
.text-box {
  opacity: 0;
  color: #EFE8DE;
  font-weight: 400;
  font-size: 24px;
  width: 100%;
  position: relative;
}

.text-box.init-slide {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.5s cubic-bezier(0.77,0,0.175,1), transform 1s ease-in-out;
}

.visible .text-box.init-slide {
  opacity: 1;
  transform: translateY(0);
}

.visible .text-box.hidden {
  opacity: 0;
  z-index: 0;
}

.visible .text-box,
.visible .text-box.slide-up,
.visible .text-box.fade-in {
  opacity: 1;
  z-index: 10;
}

.text-box p {
  margin: 0;
}

.text-box.wide {
  max-width: 800px;
}

.text-box.narrow {
  max-width: 450px;
}

.text-box.highlight {
  text-align: center;
  z-index: 5;
}

.text-box.highlight p {
  color: #EFE8DE;
  font-size: 24px;
}

/* .text-box div[data-hidden="true"] {
  display: none;
} */

.box-light {
  background: rgba(239, 232, 222, 0.7);
  border-radius: 10px;
  padding: 32px;
  box-sizing: border-box;
  width: 100%;
  color: #121212;
}

.box-dark {
  background: rgba(23, 34, 47, 0.8);
  border-radius: 10px;
  padding: 32px;
  box-sizing: border-box;
  width: 100%;
  color: #EFE8DE;
}

/* Text box position */

.sc-center {
    display: block;
    position: absolute
}

.sc-center-left {
    position: absolute;
    align-self: flex-start;
}

.sc-center-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    align-self: flex-end;
}

.sc-top-left {
    position: absolute;
    top: 108px;
    left: 80px;
}

.sc-top-right {
    position: absolute;
    top: 108px;
    right: 80px;
}

.sc-bottom-left {
    position: absolute;
    bottom: 108px;
    left: 80px;
}

.sc-bottom-right {
    position: absolute;
    bottom: 108px;
    right: 80px;
}

@media (max-width: 768px) {
  .text-box {
    font-size: 14px;
  }

  .text-box.wide,
  .text-box.narrow {
    max-width: 85%;
    margin-left: -10px;
    margin-top: -60px;
  }

  .sc-top-left,
  .sc-top-right,
  .sc-bottom-left,
  .sc-bottom-right,
  .sc-center-left,
  .sc-center-right,
  .sc-center {
    position: absolute;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    transform: translateY(0);
    align-self: center;
  }

  .text-box h2 {
    font-size: 20px;
  }

  .box-light,
  .box-dark {
    padding: 20px;
  }
}

/* Sponsor Logo */
.sponsor-logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.sponsor-logo {
  max-width: 180px;
  height: auto;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.sponsor-logo img {
  max-width: 100%;
  filter: grayscale(100%) brightness(50%) invert(100%);
  transition: filter 0.3s ease;
  height: auto;
}

.sponsor-logo:hover {
  background-color: #fff;
  border-radius: 4px;
  transition: background-color 0.3s ease, filter 0.3s ease;
}

.sponsor-logo:hover img {
  filter: none
}

@media (max-width: 768px) {
  .sponsor-logo-container {
    display: block;
  }

  .sponsor-logo {
    max-width: 120px;
  }
}

/* Women Profile */
.column-profile-container {
  color: #EFE8DE;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 50%;
  position: absolute;
  left: 0;
  top: 0;
}

.column-profile-container.bottom {
  top: auto;
  bottom: 0;
  justify-content: flex-end;
  padding-bottom: 150px;
}

.column-profile-container.right {
  left: auto;
  right: 0;
}

.column-profile-container.full {
  width: 100%;
  left: 0;
  right: auto;
}

.column-profile-container.bottom .profile-category {
  margin-bottom: 100px;
}

.column-profile h2 {
  color: #EFE8DE;
  font-size: 48px;
  font-weight: 400;
  text-align: center;
}

.column-profile {
  opacity: 0;
  transition: opacity 1.2s ease-in-out;
}

.visible .column-profile {
  opacity: 1;
}

.profile-category {
  display: flex;
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 65px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.profile-category span {
  display: flex;
  position: relative;
  align-items: center;
}

.profile-category span::before {
  content: "";
  display: block;
  width: 4px;
  height: 40px;
  background: #EFE8DE;
  margin: 0 18px;
}

.profile-category span::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background: #EFE8DE;
  position: absolute;
  bottom: -8px;
  left: 18px;
  transition: width 1.8s ease-in-out;
}

.visible .profile-category span::after {
  width: 64px;
}

.column-profile .profile-location {
  color: #EFE8DE;
  margin-top: 48px;
  text-align: center;
}

.column-profile .profile-location,
.column-profile .profile-location img,
.column-profile .profile-location span {
  display: block;
}

.column-profile .profile-location img {
  margin: 0 auto 10px;
}

.column-profile .profile-location span {
  font-size: 24px;
}

.section-profile p {
  color: #613138;
  font-size: 20px;
  margin-bottom: 16px;
}

.section-profile p:last-child {
  margin-bottom: 0;
}

.section-profile .footnote,
.section-gallery .footnote {
  align-self: flex-end;
  margin-bottom: 60px;
}

.footnote [data-hidden="true"] {
  display: none;
}

.section-profile .footnote p {
  color: #EFE8DE;
  font-size: 16px;
}

.section-gallery .footnote p {
  color: #EFE8DE;
  font-size: 20px;
  text-align: center;
}

@media (max-width: 768px) {
  .column-profile-container.right,
  .column-profile-container.bottom {
    left: 0;
    right: auto;
    padding: 0 24px;
    width: 100%;
    top: auto;
    justify-content: center;
    height: auto;
    bottom: auto;
  }

  .section-profile .column-profile-container {
    width: 100%;
  }

  .column-profile {
    margin-top: 100px;
  }

  .column-profile h2 {
    font-size: 32px;
  }

  .footnote {
    padding: 0 24px;
  }

  .section-profile p {
    font-size: 14px;
  }

  .section-profile .footnote p {
    font-size: 12px;
    text-align: center;
  }

  .section-gallery .footnote p {
    font-size: 14px;
  }

  .footnote.right {
    text-align: center;
  }

  .profile-category {
    font-size: 20px;
    text-align: right;
  }

  .profile-category span {
    text-align: left;
  }

  .profile-category span::before {
    margin: 0 8px
  }

  .text-box.highlight p {
    font-size: 18px;
  }
}

/* Quote Section */
.section-quote .section-content {
  max-width: 1200px;
}

.column-quote {
  display: flex;
  padding: 24px;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  position: relative
}

.column-quote.left {
  width: 50%;
  align-items: flex-end;
  padding: 0;
}

.column-quote.right {
  width: 50%;
  padding: 0;
}

.column-quote .quote-image {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 0.8s cubic-bezier(0.77,0,0.175,1), transform 1s cubic-bezier(0.77,0,0.175,1);
}

.column-quote.left .quote-image {
  transform: translateX(-100%);
}

.column-quote .quote-image.slide-in {
  opacity: 1;
  transform: translateX(0);
}

.column-quote .quote-image img,
.column-quote .quote-content img {
  display: block;
  margin: 0 auto;
}

.column-quote .quote-content img {
  width: 100%;
  height: auto;
}

.column-quote .quote-image img {
  height: auto;
  opacity: 0.85;
  width: 100%;
}

.quote-content {
  margin-top: 70px;
  max-width: 500px;
}

.quote-text {
  color: #613138;
  font-size: 16px;
  font-weight: 400;
  max-width: 600px;
  line-height: 1.4;
  text-align: center;
  border-top: 1px solid #613138;
  padding: 24px;
  margin-top: 32px;
}

/* .quote-text [data-hidden="true"] {
  display: none;
} */

@media (min-width: 1024px) and (max-width: 1440px) {
  .column-quote .quote-image img {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .title-box {
    margin: 0 24px;
  }

  .section-quote .section-content {
    display: flex;
    width: 90%;
    flex-direction: column;
  }

  .section-quote .section-content.mobile-reverse {
    flex-direction: column-reverse;
  }

  .column-quote.left,
  .mobile-reverse .column-quote.right {
    height: 65vh;
  }

  .column-quote.right,
  .mobile-reverse .column-quote.left {
    height: 35vh;
  }

  .column-quote.left,
  .column-quote.right {
    width: 100%;
  }

  .column-quote {
    height: 50vh;
    justify-content: center;
  }

  .column-quote .quote-image img {
    width: 75%;
  }

  .quote-text {
    font-size: 12px;
    padding: 16px 0;
    margin-top: 20px
  }
}

/* Video */
.section-video.video-play .section-bg,
.section-video.video-play .section-content {
    display: none;
}

.section-video.video-play iframe {
  // transition: opacity 0.5s;
}

.section-video iframe {
  opacity: 0;
  // transition: opacity 3s ease-in-out;
}

.visible.section-video iframe {
  opacity: 1;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  transition-delay: 1s;
}

.section-video.visible .bg-loaded {
  z-index: 3;
  opacity: 0.98;
  transition: opacity 0.5s cubic-bezier(0.77,0,0.175,1);
}

.section-video .section-content {
  z-index: 4;
}

.section-video .text-box {
  position: relative;
  z-index: 3;
  color: #121212;
  text-align: center;
}

.section-video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}

.section-video .play-button {
  max-width: 70px;
  margin-top: 32px;
  cursor: pointer
}

.section-video .play-button:hover {
  opacity: 0.2;
  transition: opacity 0.2s;
}

.video-overlay {
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  z-index: 2;
  height: 80%;
}

@media (max-width: 768px) {
  .section-video .text-box.wide,
  .section-video .text-box.narrow {
      margin-left: 0;
  }
}

/* Outro */
.outro-container {
  padding: 0 32px;
  max-width: 900px;
}

.outro-container p {
  color: #DFA94E;
  font-size: 18px;
}

.outro-container .social-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 70px;
}

.outro-container .social-links {
  display: inline-flex;
  gap: 16px;
  border-top: 1px solid #DFA94E;
  margin-left: auto;
  padding-top: 16px;
}

.outro-container .social-links a:hover {
  filter: brightness(0) saturate(0%) invert(50%) sepia(80%) saturate(248%) hue-rotate(0deg);
  transition: filter 0.2s;
}

.outro-container .social-links img {
  max-width: 24px;
}


/* .outro-container [data-hidden="true"] {
  display: none;
} */

/* Animation */
.slide {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.2s cubic-bezier(0.77,0,0.175,1), transform 0.2s cubic-bezier(.17,.67,.83,.67);
}

.slide-up {
  opacity: 1;
  transform: translateY(0);
}

.fade {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(10px);
  }
  40% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(6px);
  }
  80% {
    transform: translateY(0);
  }
}

